shellingham==1.5.4
Pygments==2.19.1
protobuf==5.29.4
protobuf==3.20.3
idna==3.10
setuptools==75.8.0
dm_control==1.0.28
gymnasium==1.1.1
pillow==11.2.1
zipp==3.21.0
requests==2.32.3
attrs==25.3.0
tomlkit==0.13.2
markdown-it-py==3.0.0
mypy-extensions==1.0.0
Farama-Notifications==0.0.4
GitPython==3.1.44
fsspec==2025.3.2
networkx==3.4.2
pyparsing==3.2.3
PySocks==1.7.1
ale-py==0.10.2
tqdm==4.67.1
PyOpenGL==3.1.9
pydantic==2.11.3
click==8.1.8
typing-inspection==0.4.0
typing_extensions==4.13.2
appdirs==1.4.4
h2==4.2.0
cffi==1.17.1
pathspec==0.12.1
zstandard==0.23.0
dm-tree==0.1.9
pip==25.0
gitdb==4.0.12
psutil==7.0.0
typer-slim==0.15.2
mdurl==0.1.2
sentry-sdk==2.26.1
mpmath==1.3.0
labmaze==1.0.6
charset-normalizer==3.4.1
mccabe==0.7.0
numpy==2.2.4
packaging==24.2
torch==2.6.0
Brotli==1.0.9
scipy==1.15.2
certifi==2025.1.31
setproctitle==1.3.5
lxml==5.3.2
platformdirs==4.3.7
urllib3==2.4.0
pycparser==2.22
Jinja2==3.1.6
wheel==0.45.1
opencv-python==4.11.0.86
filelock==3.18.0
dill==0.4.0
imageio==2.37.0
cloudpickle==3.1.1
pydantic_core==2.33.1
docker-pycreds==0.4.0
wrapt==1.17.2
sympy==1.13.1
PyYAML==6.0.2
rich==14.0.0
smmap==5.0.2
hpack==4.1.0
typer==0.15.2
wandb==0.19.9
pylint==3.3.6
annotated-types==0.7.0
dm-env==1.6
eval_type_backport==0.2.2
six==1.17.0
etils==1.12.2
hyperframe==6.1.0
importlib_resources==6.5.2
astroid==3.3.9
black==25.1.0
mujoco==3.3.1
glfw==2.9.0
isort==6.0.1
absl-py==2.2.2
MarkupSafe==3.0.2
